<a href="https://colab.research.google.com/github/majorquev/DBDC_202307_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [1]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
abs(-10)

[1] 10

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [2]:
# Podemos definir distintas variables
num1 <- 3.6

In [7]:
# strings(character)
p1 <- "Hola"
p2 <- 'Soy Miguel'

In [5]:
num1*2+1

[1] 8.2

In [9]:
p1
p2

[1] "Hola"

[1] "Soy Miguel"

In [10]:
# valores lógicos (logical)
verdad <- TRUE
falso <- FALSE

In [12]:
# conector lógicos ( & es el "y", | es el "o" )

verdad & falso
verdad | falso

[1] FALSE

[1] TRUE

In [15]:
#NOTA
TRUE + FALSE
TRUE + TRUE

[1] 1

[1] 2

In [16]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
1+1 == 2

[1] TRUE

In [17]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
1+1 != 2

[1] FALSE

In [21]:
#NOTA: "!" lo podemos usar para negar una proposición, y por ende su valor de verdad
!FALSE
!TRUE
!((TRUE & FALSE) | TRUE)

[1] TRUE

[1] FALSE

[1] FALSE

In [23]:
# COMENTARIO: Formato de la asignación de variables
x <- 15
# Podemos asignar con la flechita en los dos sentidos
(log(5)+num1)/sin(10) -> y

x
y

[1] 15

[1] -9.575801

In [25]:
# ¿Por qué "<-" y no "="?
num2 = 55 + 2
num2

[1] 57

In [ ]:
vect = rnorm(n=1000, mean = 0, sd = 1)

In [28]:
# podemos realizar comparaciones aritméticas
3 > -5
-2 <= -2
-100 > 100

[1] TRUE

[1] TRUE

[1] FALSE

In [33]:
# NOTA:valor infinito
Inf > 999999999999999999999999999999

Inf*Inf
Inf*0 # NaN "Not a number"
0/0 #NaN

1/0 # Inf

[1] TRUE

[1] Inf

[1] NaN

[1] NaN

[1] Inf

In [39]:
# date
no_fecha <- "2023-07-06"
no_fecha
# NOTA: podemos preguntarnos por la clase y tipo de dato del objeto almacenado en una variable
typeof(no_fecha) # Tipo de dato
class(no_fecha)

# Retomando las otras variables
typeof(num1)
class(num1)

[1] "2023-07-06"

[1] "character"

[1] "character"

[1] "double"

[1] "numeric"

In [42]:
# coercionamos a clase date
fecha <- as.Date("2023-07-06")
fecha

typeof(fecha)
class(fecha)

[1] "2023-07-06"

[1] "double"

[1] "Date"

In [43]:
fecha + 30 # Por defecto podemos añadir días a una fecha.

[1] "2023-08-05"

In [51]:
# Spoiler: lubridate es un paquete con funciones para manipular fechas...
lubridate::year(fecha)
lubridate::month(fecha)

[1] 2023

[1] 7

In [52]:
# Observación: Inmutabilidad de variables en R.
X <- 10
X

[1] 10

In [53]:
Y <- X
Y

[1] 10

In [55]:
X <- 11
X

[1] 11

In [56]:
# ¿Qué valor tiene Y? (10 u 11?)
# en R las asignaciones por defecto se realizan por valor y no por referencia.
Y

[1] 10

In [57]:
Y <- X
Y

[1] 11

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [58]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

 [1] "falso"    "fecha"    "no_fecha" "num1"     "num2"     "p1"
 [7] "p2"       "verdad"   "x"        "X"        "y"        "Y"

In [59]:
# remueva algunas de las variables generadas anteriormente
rm(falso)

In [60]:
ls()

 [1] "fecha"    "no_fecha" "num1"     "num2"     "p1"       "p2"
 [7] "verdad"   "x"        "X"        "y"        "Y"

In [62]:
?rm

In [61]:
falso

ERROR: ignored

In [63]:
#Para remover más de una variable a la vez
rm(list = c("no_fecha","verdad","X"))

In [64]:
ls()

[1] "fecha" "num1"  "num2"  "p1"    "p2"    "x"     "y"     "Y"

In [65]:
rm(list = ls())

In [66]:
ls()

character(0)

In [67]:
x

ERROR: ignored

In [68]:
gc()# liberar RAM que no está siendo utilizada

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  778711 41.6 1410928    75.4 1410928  75.4
Vcells 1405141 10.8 8388608    64.0 2218797  17.0

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [70]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # Not available (es el equivalente al Blank de excel, o  al NULL de SQL)
NaN # Not a number (también, en particular, es not available)

[1] NA

[1] NaN

In [71]:
edad <- 18

In [72]:
edad > 15

[1] TRUE

In [73]:
edad == 18

[1] TRUE

In [74]:
edad == NA

[1] NA

In [75]:
edad2 <- NA
edad2

[1] NA

In [77]:
edad2 == 4

[1] NA

In [78]:
edad2 == NA

[1] NA

In [79]:
NA == NA

[1] NA

In [81]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
is.na(3)
is.na(NA)

[1] FALSE

[1] TRUE

In [84]:
is.nan(4)
is.nan(NaN)

[1] FALSE

[1] TRUE

In [85]:
is.na(NaN)

[1] TRUE

In [86]:
is.nan(NA)

[1] FALSE